/*-- reset --*/
html, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, nav ul, nav li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 80%;
    font: inherit;
    vertical-align: baseline;
  }
  i{
    position: relative;
    left: 340px;
    bottom: 40px;
    color:rgb(5, 5, 5);
  }

  
@-webkit-keyframes sk-bouncedelay {
	0%, 80%, 100% { -webkit-transform: scale(0); }
	40% { -webkit-transform: scale(1.0); }
}

@keyframes sk-bouncedelay {
	0%, 80%, 100% { 
		-webkit-transform: scale(0);
		-ms-transform: scale(0);
		transform: scale(0);
	} 40% { 
		-webkit-transform: scale(1.0);
		-ms-transform: scale(1.0);
		transform: scale(1.0);
	}
}

  
  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
  }
  
  ol, ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
  }
  
  blockquote, q {
    quotes: none;
  }
  
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  /*-- start editing from here --*/
  a {
    text-decoration: none;
  }
  
  .txt-rt {
    text-align: right;
  }
  
  /* text align right */
  .txt-lt {
    text-align: left;
  }
  
  /* text align left */
  .txt-center {
    text-align: center;
  }
  
  /* text align center */
  .float-rt {
    float: right;
  }
  
  /* float right */
  .float-lt {
    float: left;
  }
  
  /* float left */
  .clear {
    clear: both;
  }
  
  /* clear float */
  .pos-relative {
    position: relative;
  }
  
  /* Position Relative */
  .pos-absolute {
    position: absolute;
  }
  
  /* Position Absolute */
  .vertical-base {
    vertical-align: baseline;
  }
  
  /* vertical align baseline */
  .vertical-top {
    vertical-align: top;
  }
  
  /* vertical align top */
  nav.vertical ul li {
    display: block;
  }
  
  /* vertical menu */
  nav.horizontal ul li {
    display: inline-block;
  }
  
  
  /*-- end reset --*/
  .signupbody {

    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('camp.png') center center no-repeat;
    background-size: cover;    
  }

  
  h1 {
    font-size: 3em;
    text-align: center;
    color: #1b1a1af9;
    font-weight: 100;
    text-transform: capitalize;
    letter-spacing: 4px;
    font-family: 'Times New Roman', Times, serif;
  }
  
  /*-- main --*/
  .main-w3layouts {
    padding: 3em 0 1em;
    font-family: 'Times New Roman', Times, serif;

  }
  
  .main-agileinfo {
    width: 35%;
    margin: 3em auto;
    background: white;
    background-size: cover;
    position: relative;
    bottom: 40px;
    height: 30%;
  }
  
  .agileits-top {
    padding: 2em;
  }
  
  input[type="text"], input[type="email"], input[type="password"] {
    font-size: 1.1em;
    color: #060606;
    font-weight: 100;
    width: 100%;
    display: block;
    border: none;
    padding: 0.8em;
    border: solid 1px rgb(8, 8, 8);
    -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #fff 4%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #fff 4%);
    background-position: -800px 0;
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
  }
  
  input.email, input.text.w3lpass {
    margin: 2em 0;
  }
  
  .text:focus, .text:valid {
    box-shadow: none;
    outline: none;
    background-position: 0 0;
  }
  
  .text:focus::-webkit-input-placeholder, .text:valid::-webkit-input-placeholder {
    color: rgba(7, 7, 7, 0.7);
    font-size: .9em;
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
    visibility: visible !important;
    position: relative;
    top: 30px;
  }
  
  ::-webkit-input-placeholder {
    color: #fff;
    font-weight: 100;
  }
  
  :-moz-placeholder {
    /* Firefox 18- */
    color: #fff;
  }
  
  ::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff;
  }
  
  :-ms-input-placeholder {
    color: #fff;
  }
  
  input[type="submit"] {
    font-size: .9em;
    color: #fff;
    background: #19a8aa;
    outline: none;
    border: 1px solid #19a8aa;
    cursor: pointer;
    padding: 0.9em;
    width: 100%;
    margin: 2em 0;
    letter-spacing: 4px;
  }
  
  input[type="submit"]:hover {
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
    transition: .5s all;
    background: rgb(21, 66, 66);
  }
  
  .agileits-top p {
    font-size: 1em;
    color: #070707;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 300;
  }
  
  .agileits-top p a {
    color: #0a0a0a;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    transition: .5s all;
    font-weight: 400;
  }
  
  .agileits-top p a:hover {
    color: rgb(25, 76, 76);
  }
  
  /* profile */

  

.card {
    width: 350px;
    background-color: #efefef;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
}

.image img {
    transition: all 0.5s
}

.card:hover .image img {
    transform: scale(1.5)
}

.btn {
    height: 140px;
    width: 140px;
    border-radius: 50%
}

.name {
    font-size: 22px;
    font-weight: bold
}

.idd {
    font-size: 14px;
    font-weight: 600
}

.idd1 {
    font-size: 12px
}

.number {
    font-size: 22px;
    font-weight: bold
}

.follow {
    font-size: 12px;
    font-weight: 500;
    color: #444444
}

.btn1 {
    height: 40px;
    width: 150px;
    border: none;
    background-color: rgb(14, 44, 44);
    color: #aeaeae;
    font-size: 15px
}

.text span {
    font-size: 13px;
    color: #545454;
    font-weight: 500
}

.icons i {
    font-size: 19px
}

hr .new1 {
    border: 1px solid
}

.join {
    font-size: 14px;
    color: #a0a0a0;
    font-weight: bold
}

.date {
    background-color: #ccc
}
  
.containerr{
  position: relative;
  top: 200px;
}

.footerp {
	padding-top: 5rem;
	background-color: rgb(14, 44, 44);
	position: relative;
	top: 250px;
}

.footerp .text-container {
	margin-bottom: 2.25rem;
}

.footerp h4 {
	margin-bottom: 0.75rem;
	color: #fff;
}

.footerp p,
.footerp ul {
	font-size: 0.875rem;
	line-height: 1.375rem;
}

