/*-- reset --*/
html, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, nav ul, nav li, fieldset, form, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 80%;
    font: inherit;
    vertical-align: baseline;
  }
  i{
    position: relative;
    left: 350px;
    bottom: 23px;
    color:rgb(5, 5, 5);
  }

  a {
    text-decoration: none;
  }
  .signupbody {

    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('camp.png') center center no-repeat;
    background-size: cover;  
    height: 100vh;  
    overflow: hidden;
  }
  .resetbody {

    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('camp.png') center center no-repeat;
    background-size: cover;  
    height: 100vh;  
    overflow: hidden;
  }
  .signinbody {

    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('camp.png') center center no-repeat;
    background-size: cover;  
    height: 100vh;  
    overflow: hidden;
  }
  h1 {
    font-size: 3em;
    text-align: center;
    color: #1b1a1af9;
    font-weight: 100;
    text-transform: capitalize;
    letter-spacing: 4px;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    top: 5px;
  }
  
  /*-- main --*/
  .main-w3layouts {
    padding: 3em 0 1em;
    font-family: 'Times New Roman', Times, serif;

  }
  
  .main-agileinfo {
    width: 35%;
    margin: 3em auto;
    background: white;
    background-size: cover;
    position: relative;
    bottom: 5px;
    height: 70vh;
  }

  .main-agileinfo1 {
    width: 35%;
    margin: 3em auto;
    background: white;
    background-size: cover;
    position: relative;
    bottom: 45px;
    height: 85vh;
      }
  
      .main-agileinfor {
        width: 35%;
        margin: 3em auto;
        background: white;
        background-size: cover;
        position: relative;
        top: 40px;
        height: 50vh;
          }
      
  .agileits-top {
    padding: 2em;
  }
  
  .inputtext, .inputmail, .inputp {
    font-size: 1.1em;
    color: #2f2b2b;
    font-weight: 100;
    width: 100%;
    display: block;
    border: solid 1px rgba(128, 128, 128, 0.702);
    font-family: 'Roboto', sans-serif;
    height: 7.2vh;
    position: relative;
    top: 20px;
    left: 0px;
    margin: 3px 3px;
  }
  
  .inputmail, input.text.w3lpass {
    margin: 1.4em 0;
  }
  
  .text:focus, .text:valid {
    box-shadow: none;
    outline: none;
    background-position: 0 0;
  }
  
  .text:focus::-webkit-input-placeholder, .text:valid::-webkit-input-placeholder {
    color: rgba(7, 7, 7, 0.7);
    font-size: .9em;
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
    visibility: visible !important;
    position: relative;
    top: 30px;
  }
  
  ::-webkit-input-placeholder {
    color: #fff;
    font-weight: 100;
    position: relative;
    left: 5px;
  }
  
  :-moz-placeholder {
    /* Firefox 18- */
    color: #fff;
  }
  
  ::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff;
  }
  
  :-ms-input-placeholder {
    color: #fff;
  }
  
  .inputsubmit {
    font-size: .9em;
    color: #fff;
    background: rgb(14, 44, 44);
    outline: none;
    border: 1px solid rgb(14, 44, 44);
    cursor: pointer;
    width: 100%;
    letter-spacing: 4px;
    height: 40px;
    position: relative;
    top: 7px;
  }
  
  .inputsubmit:hover {
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
    transition: .5s all;
    background: rgb(21, 66, 66);
  }
  
  .agileits-top p {
    font-size: 1em;
    color: #070707;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 300;
    position: relative;
    top: 40px;
 }
  
  .agileits-top p a {
    color: #0a0a0a;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    transition: .5s all;
    font-weight: 400;
  }
  
  .agileits-top p a:hover {
    color: rgb(25, 76, 76);
  }
  
  /* profile */

  

.card {
    width: 350px;
    background-color: #efefef;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
}

.image img {
    transition: all 0.5s
}

.card:hover .image img {
    transform: scale(1.5)
}

.btn {
    height: 140px;
    width: 140px;
    border-radius: 50%
}

.name {
    font-size: 22px;
    font-weight: bold
}

.idd {
    font-size: 14px;
    font-weight: 600
}

.idd1 {
    font-size: 12px
}

.number {
    font-size: 22px;
    font-weight: bold
}

.follow {
    font-size: 12px;
    font-weight: 500;
    color: #444444
}

.btn1 {
    height: 40px;
    width: 150px;
    border: none;
    background-color: rgb(14, 44, 44);
    color: #aeaeae;
    font-size: 15px
}

.text span {
    font-size: 13px;
    color: #545454;
    font-weight: 500
}

.icons i {
    font-size: 19px
}

hr .new1 {
    border: 1px solid
}

.join {
    font-size: 14px;
    color: #a0a0a0;
    font-weight: bold
}

.date {
    background-color: #ccc
}
  
.containerr{
  position: relative;
  top: 200px;
}

.footerp {
	padding-top: 5rem;
	background-color: rgb(14, 44, 44);
	position: relative;
	top: 250px;
}

.footerp .text-container {
	margin-bottom: 2.25rem;
}

.footerp h4 {
	margin-bottom: 0.75rem;
	color: #fff;
}

.footerp p,
.footerp ul {
	font-size: 0.875rem;
	line-height: 1.375rem;
}

.profilebody {
  overflow: hidden;
  height: 100%;
  background-color: rgb(14, 44, 44);
  background-image: linear-gradient(rgb(14,44,44), white);
}
.eyeicon2 i{
  position: relative;
  bottom: 400px;
}