.heading{
    position: relative;
    top: 130px;
    left: 240px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}

.ins{
    position: relative;
    top: 150px;
    left: 240px;
}
.logo{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    position: relative;
    left: 15px;
    top: 5px;
}