.heading{
    position: relative;
    top: 130px;
    left: 240px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    overflow: hidden;
}

.ins{
    position: relative;
    top: 150px;
    left: 242px;
    overflow: hidden;
}
.logo{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    position: relative;
    left: 18px;
    top: 5px;
    overflow-y: hidden;
}


.img-fluidi{
width: 35%;
position: relative;
left: 400px;
top: 120px;

}

/* .btn-solid-lg page-scroll{
top: 500px;
position: relative;
left: 200px;
} */