.heading{
    position: relative;
    top: 130px;
    left: 240px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    overflow: hidden;
}

.headerr {
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('camp.png') center center no-repeat;
	background-size: cover;
}

.headerr .header-content {
	padding-top: 16rem;
	padding-bottom: 2.125rem;
	text-align: center;
}

.headerr .text-container {
	margin-bottom: 3rem;
}

.headerr h1 {
	margin-bottom: 0.5rem;
	color: #fff;
}

.headerr .p-large {
	margin-bottom: 2rem;
	color: #dfe5ec;
}

.headerr .btn-solid-lg {
	margin-right: 0.5rem;
	margin-bottom: 1.25rem;
}

.detailplan .footer{
    position: relative;
    top: 1000px;
}

.ins{
    position: relative;
    top: 150px;
    left: 242px;
    overflow: hidden;
}
.logo{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    position: relative;
    left: 18px;
    top: 5px;
    overflow-y: hidden;
}


.img-fluidi{
width: 35%;
position: relative;
left: 400px;
top: 120px;

}

/* .btn-solid-lg page-scroll{
top: 500px;
position: relative;
left: 200px;
} */